package page

templ LoginPage() {
	<div class="container">
		<div class="row">
			<div class="offset-lg-3 col-lg-6">
				<div class="card">
					<div class="card-body">
						<form action="/login/google">
							<div class="form-group mt-3">
								<button type="submit" class="btn form-control btn-success">
									Sign in
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
}